/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* eo reset */

body
{
	font-family: Tahoma, Arial, sans-serif;
	font-size: 13px;
	color: #333;
	background: #fff url(img/top_bg.jpg) left 87px repeat-x;
}
a
{
	text-decoration: underline;
	color: #23699f;
}
a:hover
{
	text-decoration: none;
}
.LeftCol a
{
	text-decoration: none;
	color: #616161;
}
.LeftCol a:hover
{
	text-decoration: underline;
}
h1, h2, h3, h1 a, h2 a
{
	margin-bottom: 8px;
	text-decoration: none;
}

h1
{
	font-weight: normal;
	font-size: 21px;
	line-height: 23px;
}

h2
{
	margin: 8px 0;
	font-size: 18px;
	font-weight: normal;
	line-height: 22px;
}

h3
{
	font-size: 14px;
	font-weight: bold;
}

input
{
	font: 13px/18px Tahoma,Arial,sans-serif;
	color: #606060;
}
input.hint.hintShown,
input.placeholder
{
	color: #979797 !important;
	font-size: 13px !important;
	font-style: italic !important;
}
input::-webkit-input-placeholder
{
	color: #979797 !important;
	font-size: 13px !important;
	font-style: italic !important;
}
input:-moz-placeholder
{
	color: #979797 !important;
	font-size: 13px !important;
	font-style: italic !important;
}
textarea
{
	font-family: Tahoma;
	font-size: 13px;
	color: #606060;	
}
select
{
	font: normal 13px/18px Tahoma, Arial, sans-serif;
	width: 100%;
	color: #606060;
}
select.customText
{
	color: #606060;
}
hr
{
	height: 1px;
	border: 0;
	background-color: #BBC5CA;
	clear: both;
}

/* 1000 px layout 210 - 300 - 490 */
.PageWrapper
{
	min-width: 800px;
	max-width: 1200px;
	margin: 0 auto;
}
.ContentWrapper
{
	margin: 43px 0 0 0;
	padding: 30px 0 0 0;
}
.MainContent
{
	float: left;
	width: 100%;
}
.MainContentInner
{
	margin: 0 0 0 210px;
	overflow: hidden;
}
.LeftCol
{
	float: left;
	width: 209px;
	margin-left: -100%;
	border-right: 1px solid #cfcfcf;
}
.CenterCol
{
	float: left;
	width: 40%;
	min-width: 237px;
}
.SideCol
{
	float: left;
	width: 60%;
	min-width: 354px;
}

/* eo 1000px layout */

/* 800 px min - 1200px max layout*/

/* eo 800 px min - 1200px max layout */

.TopBar /* Top bar - logo, login, menu */
{
	position: relative;
	height: 87px;
	width:800px;
}
 
.TopBar .Logo
{
	width: 148px; height: 87px;
	position: absolute;
	bottom: 0; left: 0;
}

.TopBar .Logo a img
{
	border: 0;
	height: 100%;
}

/* List container */
.ListContainer
{
	margin: 5px 0;
}
.ListContainer h2
{
	padding: 0 8px;
}
.ListContainer li
{
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	margin-top: -5px;
}
.ListContainer li:hover,
.DictionaryTermActive
{
	background: #305878;
}
.ListContainer li:hover a,
.DictionaryTermActive a
{
	color: #fff;
	text-decoration: none;
}
/* eo List container */

/* DictionaryContentContainer */
.DictionaryContentContainer h2
{
	padding: 0 0 0 20px;
}
.DictionaryContentContainer dl
{
	padding: 20px;
}
.DictionaryContentContainer dl:hover,
.DictionaryContentActive
{
	padding: 20px;
	background: #305878;
	color: #fff;
}
.DictionaryContentContainer a
{
	text-decoration: none;
}
.DictionaryContentContainer dl:hover a,
.DictionaryContentActive a
{
	color: #fff;
}
.DictionaryContentContainer dt
{
	font-size: 16px;
	line-height: 20px;
	color: #24669a;
}
.DictionaryContentContainer dd
{
	display: inline-block;
	color: #616161;
	margin-right: 25px;
}
.DictionaryContentContainer dl:hover dd,
.DictionaryContentActive dd
{
	color: #fff;
}
/* eo DictionaryContentContainer */

/* DictionaryEditContainer */
.DictionaryEditContainer
{
	padding: 0 0 0 25px;
}
.DictionaryEditContainer h3
{
	margin: 20px 0 40px 10px;
	font-size: 42px;
	line-height: 48px;
	font-weight: normal;
}
.DictionaryEditContainer table
{
	width: 100%;
}
.DictionaryEditContainer th
{
	text-align: left;
	font-size: 18px;
	padding: 5px 5px 20px 0;
}
.DictionaryEditContainer td
{
	padding: 5px 5px 5px 0;
}
.DictionaryEditContainer th:first-child,
.DictionaryEditContainer td:first-child
{
	padding-left: 20px;
}
.DictionaryEditContainer .DictionaryItemName
{
	width: 210px;
}
.DictionaryEditContainer .DictionaryItemButtons
{
	text-align: right;
}
.DictionaryEditContainer .DictionaryItemButtons a
{
	margin: 0 20px;
	color: #333;
}
/* eo DictionaryEditContainer */

/* general purpose classes */
.ClearerEl
{
	clear: both;
	font-size: 0;
	line-height: 0;
}
/* eo general purpose classes */

/*Menu --- START---- */
.TopBar .TopMenu {
position: absolute;
bottom: 0;
left: 209px;
width: 395px;
height: 37px;
overflow: visible;
-webkit-box-shadow: 0px -2px 20px 2px #C7CFD5;
-moz-box-shadow: 0px -2px 20px 2px #C7CFD5;
box-shadow: 0px -2px 20px 2px #C7CFD5;
z-index:1;
}
.TopBar .TopMenu ul {
list-style: none;
position: relative;
background-color: white;
height: 37px;
}
.TopBar .TopMenu ul li.separatorLi {
width: 1px;
background: url(img/header_menu-spacer.gif) no-repeat top;
}
.TopBar .TopMenu ul li {
float: left;
list-style: none;
height: 37px;
position: relative;
}
.TopBar .TopMenu ul li a {
display: block;
line-height: 37px;
text-decoration: none;
color: #3C3C3C;
height: 37px;
padding: 0;
width: 131px;
text-align: center;
}
.TopBar .TopMenu ul li:hover a,
.TopBar .TopMenu ul li.active a /* Active menu point second background and link style */ 
{
	color: #fff;
	background: #8abd26;
	
}
/*Menu --- FINISH---- */
.strip{
position:absolute;
width:100%;
top:87px;
height: 43px;
background: #173c57; 
background: -moz-linear-gradient(top,  #173c57 1%, #255172 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#173c57), color-stop(100%,#255172));
background: -webkit-linear-gradient(top,  #173c57 1%,#255172 100%); 
background: -o-linear-gradient(top,  #173c57 1%,#255172 100%); 
background: -ms-linear-gradient(top,  #173c57 1%,#255172 100%); 
background: linear-gradient(to bottom,  #173c57 1%,#255172 100%); 
z-index:5;
}
